<section class="blog">
  <div class="container">
    <ul class="blog__list">
      <li class="blog__item">
        <img src="images/blog-img-1.webp" alt="" class="blog__item-img">
        <h3 class="blog__item-subtitle section-subtitle">An easier way to buy your next Toyota</h3>
        <a href="#" class="blog__item-link">more</a>
      </li>
      <li class="blog__item">
        <img src="images/blog-img-2.webp" alt="" class="blog__item-img">
        <h3 class="blog__item-subtitle section-subtitle">A Guide to Road-Tripping With Pets</h3>
        <a href="#" class="blog__item-link">more</a>
      </li>
    </ul>
    <a href="#" class="show-more__link">SHOW MORE</a>
  </div>
</section>