    <footer class="footer">
      <div class="container">
        <nav class="footer__menu">
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <h3 class="footer__menu-title">Products</h3>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">Used</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">New</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">Sell your car</a>
            </li>
          </ul>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <h3 class="footer__menu-title">Resources</h3>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">Blog</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">FAQ</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">Contact us</a>
            </li>
          </ul>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <h3 class="footer__menu-title">Work With TrueCar</h3>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">Dealers</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">Partners</a>
            </li>
          </ul>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <h3 class="footer__menu-title">About</h3>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">About us</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">Team</a>
            </li>
            <li class="footer__menu-item">
              <a href="#" class="footer__menu-link">Careers</a>
            </li>
          </ul>
        </nav>
        <ul class="footer__app-list">
          <li class="footer__app-item">
            <a href="#" class="footer__app-link">
              <img src="images/appstore.svg" alt="" class="footer__app-img">
            </a>
          </li>
          <li class="footer__app-item">
            <a href="#" class="footer__app-link">
              <img src="images/googleplay.svg" alt="" class="footer__app-img">
            </a>
          </li>
        </ul>
        <div class="footer__copy">
          <p class="footer__copy-text">For questions about the TrueCar Auto Buying Service please call <a
              class="footer__copy-link" href="tel:18888783227">1-888-878-3227</a>.
            Certified Dealers are contractually obligated by TrueCar to meet certain customer service requirements and
            complete the TrueCar Dealer Certification Program.</p>
          <p class="footer__copy-text">TrueCar does not broker, sell, or lease motor vehicles. Unless otherwise noted, all
            vehicles shown on this website are offered for sale by licensed motor vehicle dealers. All vehicles are
            subject
            to prior sale. By accessing this website, you agree to the TrueCar Terms of Service and Privacy Policy.</p>
        </div>
        <nav class="footer__copy-nav">
          <ul class="copy-nav__list">
            <li class="copy-nav__item">
              <a href="#" class="copy-nav__link">Terms of Service</a>
            </li>
            <li class="copy-nav__item">
              <a href="#" class="copy-nav__link">Privacy Policy</a>
            </li>
            <li class="copy-nav__item">
              <a href="#" class="copy-nav__link">Do Not Sell My Personal Information</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>